<div ng-controller="editCtrl as ctrl">
    <div class="page-header">
        <h1>Grocery Management System
            <small>Edit</small>
        </h1>
    </div>
    
    <div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Product</th>
            <th>UPC</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <!--<ui-view ng model = "ctrl.grocery_list">-->
                <td>{{ctrl.grocery_list.id}}</td>
                <td><input type="text"  ng-model="ctrl.grocery_list.brand"></td>
                <td><input type="text" size="70" ng-model="ctrl.grocery_list.name"></td>
                
                <td><input type="text" ng-model="ctrl.grocery_list.UPC12"></td>
                <!--<img src ="http://www.barcodes4.me/barcode/c128a/{{ctrl.grocery_list.UPC12}}.png?IsTextDrawn=1">-->
                
            <!--</ui-view>-->
         </tr> 
    </table>  
    <button type="button" class="btn btn-success" ng-click="ctrl.update()">Update record</button>
    <button type="button" class="btn btn-success" ng-click="ctrl.cancel()">Cancel </button>
</div>
</div>
    