
<div class="container" ng-controller="SearchCtrl as ctrl">

    <div class="page-header">
        <h1>Grocery Management System
            <small>Search Grocery</small>
        </h1>
    </div>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input id="searchString"
                   class="form-control"
                   size="50"
                   type="text"
                   name="searchString"
                   ng-model="ctrl.searchString"
                   placeholder="Enter grocery brand or name">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search By Brand or Product
            </button>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Brand</th>
            <th>Product</th>
            <th>UPC</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in ctrl.grocery_list" >
                <td>{{item.brand}}</td>
                <td>{{item.name }}</td>
                <td>
                <img src ="http://www.barcodes4.me/barcode/c128a/{{item.UPC12}}.png?IsTextDrawn=1">
                </td>
                <td><button type ="button" ng-submit"ctrl.edit()"><a ui-sref-active="active" ui-sref="edit({ id: item.id })">Edit</a></button></td>
            </tr>
        </tbody>
    </table>
</div>